/**
 * @file
 * Views styling
 */

 .view-catalog .group-right {
 	margin: 1em;
 }

 .view-catalog .group-right .field-name-commerce-price {
 	margin: .4em -.9em .4em .5em;
 }

  .view-catalog .group-right .field-name-field-product {
 	margin: .7em;
 }


 .view-commerce-cart-block .line-item-summary  .inline {
 	display: inline-block;
 	margin-top: 1.5em !important;
 }

 .view-commerce-cart-form .views-table .views-field {
 	padding: 5px 0;
 }

 .view-commerce-cart-form .views-table  .views-field-edit-quantity input {
 	padding: 5px 5px !important;
 	font-size: 9px !important;
 	height: auto !important;
 }